{% extends 'base.html.twig' %}

{% block title %}Navetane 2020 - Chi siamo?{% endblock %}

{% block body %}

<div class="m-1 bg-dark">

    <div class="m-3 p-3">
        {# Question 01 #}
        <h4 class="text-primary">Lorem ipsum dolor sit amet?</h4>
        <p class="text-white">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Nulla aliquam ornare urna quis posuere. In ac lectus leo. Sed ultrices nisi nisl, 
        nec elementum arcu aliquet non. Quisque accumsan lacus vestibulum, commodo enim quis, 
        faucibus orci. Nulla laoreet auctor turpis ac pharetra. Aliquam tristique ipsum vitae purus 
        condimentum, at consectetur diam efficitur. Integer a pretium ante. Maecenas nec semper turpis. 
        Curabitur vestibulum ipsum mi, ut vehicula lacus luctus nec.
        </p>
        
        {# Question 02 #}
        <h4 class="text-primary">Lorem ipsum dolor sit amet?</h4>
        <p class="text-white">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Nulla aliquam ornare urna quis posuere. In ac lectus leo. Sed ultrices nisi nisl, 
        nec elementum arcu aliquet non. Quisque accumsan lacus vestibulum, commodo enim quis, 
        faucibus orci. Nulla laoreet auctor turpis ac pharetra. Aliquam tristique ipsum vitae purus 
        condimentum, at consectetur diam efficitur. Integer a pretium ante. Maecenas nec semper turpis. 
        Curabitur vestibulum ipsum mi, ut vehicula lacus luctus nec.
        </p>

        {# Question 03 #}
        <h4 class="text-primary">Lorem ipsum dolor sit amet?</h4>
        <p class="text-white">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Nulla aliquam ornare urna quis posuere. In ac lectus leo. Sed ultrices nisi nisl, 
        nec elementum arcu aliquet non. Quisque accumsan lacus vestibulum, commodo enim quis, 
        faucibus orci. Nulla laoreet auctor turpis ac pharetra. Aliquam tristique ipsum vitae purus 
        condimentum, at consectetur diam efficitur. Integer a pretium ante. Maecenas nec semper turpis. 
        Curabitur vestibulum ipsum mi, ut vehicula lacus luctus nec.
        </p>

        {# Question 04 #}
        <h4 class="text-primary">Lorem ipsum dolor sit amet?</h4>
        <p class="text-white">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Nulla aliquam ornare urna quis posuere. In ac lectus leo. Sed ultrices nisi nisl, 
        nec elementum arcu aliquet non. Quisque accumsan lacus vestibulum, commodo enim quis, 
        faucibus orci. Nulla laoreet auctor turpis ac pharetra. Aliquam tristique ipsum vitae purus 
        condimentum, at consectetur diam efficitur. Integer a pretium ante. Maecenas nec semper turpis. 
        Curabitur vestibulum ipsum mi, ut vehicula lacus luctus nec.
        </p>

        {# Question 05 #}
        <h4 class="text-primary">Lorem ipsum dolor sit amet?</h4>
        <p class="text-white">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Nulla aliquam ornare urna quis posuere. In ac lectus leo. Sed ultrices nisi nisl, 
        nec elementum arcu aliquet non. Quisque accumsan lacus vestibulum, commodo enim quis, 
        faucibus orci. Nulla laoreet auctor turpis ac pharetra. Aliquam tristique ipsum vitae purus 
        condimentum, at consectetur diam efficitur. Integer a pretium ante. Maecenas nec semper turpis. 
        Curabitur vestibulum ipsum mi, ut vehicula lacus luctus nec.
        </p>
    </div>

</div>

{% endblock %}
